@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-tajawal: "Tajawal", sans-serif; /* Fallback fonts */
  --font-noto: "Noto Sans", sans-serif;
}
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #222934;
  --color-secondary: #222934;
  /* --color-secondary: #fe9a00; */
  --color-hover: #a1752d;
  --color-title: #030712;
  --color-font: #181d25;
  /* dark color section */
  /* dark color section */
  --color-header-dark: #222934;
  --color-primary-dark: #181d25;
  --color-secondary-dark: #333d4c;
  --color-title-dark: #ffffff;
  --color-font-dark: #ffffff;
  --color-hover-dark: #a1752d;
  /* --color-primary: #0044ff; */
  /* --color-secondary: #0088ff; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181d25;
    --foreground: #ededed;
  }
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  overflow-x: hidden;
  font-family: var(--font-noto);
}
/* Example for language-specific application using dir attribute */
[dir="rtl"] body {
  font-family: var(--font-tajawal);
}
.swiper-pagination-bullet-active {
  background: #000000 !important;
}
